* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    gap: 220px;
    padding: 30px;
    align-items: center;
}

nav ul {
    gap: 40px;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(77, 76, 76);
    transition: color 0.5s;
}

nav ul li a:hover {
    color: black;
}